# linting:
black
flake8
isort
mamushi
pip-tools
pre-commit

# testing:
eip712
eth_account
ipython
hypothesis
pytest
pytest-xdist
pytest-forked
pytest-repeat
pdbpp
hypothesis>=6.68.1

# vyper and dev framework:
git+https://github.com/vyperlang/titanoboa@878da481a5adc3963b07b22355c80a85a9cfecb7
vyper>=0.3.10
