# linting:
black
flake8
isort
mamushi
pip-tools
pre-commit

# testing:
# this is temporarily installed from git since a correction required has not been release yet
git+https://github.com/ApeWorX/eip712@422aabb150b2130455a57f1f5d26ba14ea883263
eth_account
ipython
hypothesis==6.74.0
pytest
pytest-xdist
pytest-forked
pytest-repeat
pdbpp

# analytics
pandas
matplotlib

# other deps (needed for pypy)
cytoolz

# vyper and dev framework (boa interpreter):
git+https://github.com/vyperlang/titanoboa@2e0d5c1cf36986b3f94ca39979b83e3512e85c2b
vyper>=0.3.10
