name: tests-boa

on: [push]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  RPC_ETHEREUM: ${{ secrets.RPC_ETHEREUM }}

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder:
          - "tests/unitary"
          - "tests/fuzzing"
          - "tests/stateful"
          # - "tests/integration"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "0.4.18"
          enable-cache: true  # Enables built-in caching for uv

      - name: Cache Compiler Installations
        uses: actions/cache@v3
        with:
          path: |
            ~/.vvm
          key: compiler-cache-${{ hashFiles('**/uv.lock') }}

      - name: Set up Python 3.12.6
        run: uv python install 3.12.6

      - name: Install Requirements
        run: uv sync --extra=dev

      - name: Run tests in ${{ matrix.folder }}
        run: uv run pytest ${{ matrix.folder }} -n auto
